<template>
  <div><p></p>
    <b-container fluid>
      <b-row>
        <b-col sm='3' md='3'>
            <b-img src='https://via.placeholder.com/160x200' fluid alt='Fluid placeholder image'></b-img>
        </b-col>
        <b-col sm='7' md='7' style="text-align: justify; font-size: 13px; padding-right: 0px !important;">
          {{moduleData.name[0].value}}
          <p>{{moduleData.summary[0].value.slice(0,180) + '...'}}</p>
          <p><template v-if="moduleData.module_author.count">By {{moduleData.module_author[0].value}}</template></p>
        </b-col>
        <b-col sm='2' md='2' style="text-align: right; font-size: 12px; padding-left: 0px !important;">
          <p><b-button size="sm" class="my-2 my-sm-0" variant="outline-primary" :id = "moduleData.id[0].value" :machinename = "moduleData.machine_name[0].value" type="submit" @click.prevent="install(moduleData.machine_name[0].value)">Install</b-button></p>
          <p><b-link v-bind:href="'#module-details/'+moduleData.machine_name[0].value">More Details</b-link></p>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <div style="font-size: 10px;">
            footer with info: how many installs, open issues etc...
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  props: ['moduleData'],
  name: 'module-card',
  methods: {
    install (machineName) {
      this.$parent.install(machineName)
      // console.log(machineName)
    }
  }
}
</script>
