<template>
  <div>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">Marketplace</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="#" disabled>Featured</b-nav-item>
        <b-nav-item href="#" disabled>Popular</b-nav-item>
        <b-nav-item href="#" disabled>Recommended</b-nav-item>
        <b-nav-item href="#" disabled>Favorites</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" v-model ='searchText' placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit" @click.prevent="search">Search</b-button>
        </b-nav-form>

      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<script>

export default {
  name: 'navbar',
  props: ['moduleData'],
  data () {
    return {
      searchText: ''
    }
  },
  // computed: {
  //   modulesData: function () {
  //     this.modulesData.filter()
  //   }
  // },
  methods: {
    search () {
      this.$parent.doSearch(this.searchText)
      // var searchRegex = new RegExp(this.searchText, 'i')
      console.log('search')
      // console.log(this.moduleData)
    }
  }
}
</script>
