<template>
  <div>
    <navbar :moduleData = this.moduleData></navbar>
    <b-container fluid>
          <div v-for="(modules, key) in grouped" v-bind:key="key">
            <b-row>
              <b-col sm='4' md='4' v-for="module in modules" v-bind:key="module.id[0].value">
                <module-card :moduleData = module></module-card></b-col>
            </b-row>
          </div>
    </b-container>
  </div>
</template>

<script>

import ModuleCard from '@/components/ModuleCard'
import Navbar from '@/components/Navbar'
import chunk from 'lodash.chunk'
import axios from 'axios'

var baseURL = window.location.origin

if (window.location.origin === 'http://localhost:8080') {
  baseURL = 'http://drupal.docksal'
}

export default {
  name: 'TheMarketplace',
  components: { ModuleCard, Navbar },
  async mounted () {
    axios.defaults.baseURL = baseURL
    axios.defaults.headers.put['Content-Type'] = 'application/json'
    axios.defaults.headers.put['Accept'] = 'text/html'
    await axios.get('/api/drupal_marketplace/module')
      .then(Response => {
        this.moduleData = Object.keys(Response.data).map(function (v) {
          return Response.data[v]
        })
      })
      .catch(error => {
        console.log(error)
      })

    this.grouped = chunk(this.moduleData, 3)
  },
  methods: {
    doSearch (searchText) {
      var searchRegex = new RegExp(searchText, 'i')
      this.moduleFiltered = this.moduleData.filter(function (module) { return searchRegex.test(module.machine_name[0].value) })
      this.grouped = chunk(this.moduleFiltered, 3)
    },
    async install (machineName) {
      console.log(machineName)
      await axios.get('/admin/modules/marketplace/install/' + machineName)
        .then(Response => {
          console.log(Response.data)
        })
        .catch(error => {
          var data = JSON.parse(error.response.data)
          console.log(error)
          console.log(data)
        })
    }
  },
  computed: {
    grouped2: function () {
      return chunk(this.moduleFiltered, 3)
    }
  },
  data () {
    return {
      grouped: Array,
      moduleFiltered: Array,
      moduleData: Array,
      msg: 'Welcome to Our Drupal marketplace'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
