{#
/**
 * @file module_entity.html.twig
 * Default theme implementation to present Module entity data.
 *
 * This template is used when viewing Module entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_module_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('module_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
